<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171056494195-pedq0s8pmdt2i9jqud39qkfduohi1amj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171056494195-pedq0s8pmdt2i9jqud39qkfduohi1amj</string>
	<key>API_KEY</key>
	<string>AIzaSyAUjMYDWJfrggjaTcdnKG-O9q0snTJG2sg</string>
	<key>GCM_SENDER_ID</key>
	<string>171056494195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-24412</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-24412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171056494195:ios:34fa14ac9035566ccc5c06</string>
</dict>
</plist>